%h1 New Review for #{@movie.title} 

= form_tag movie_review_path(@movie, @review_current_user), :method => :put do

	%label How many potatoes:
	= select_tag 'review[potatoes]', options_for_select(1..5)

	%br
	= submit_tag 'Edit Review'
	= link_to 'Cancel', movie_path(@movie)
